.typography {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-container {
  width: 400px;
  margin: auto;
}

.MuiToolbar-dense {
  height: 40px;
}

.MuiButton-root {
  background-color: "#7610EB";
  padding: 8px 12px;
  font-size: 17px;
  border-radius: 4px;
  padding: 0px 16px;
}

.MuiButton-root:hover {
  background-color: "#5C0DB8";
}

.MuiButton-outlined {
  background-color: "#5C0DB8";
  font-weight: 600px;
  color: "#8a8a8f";
  border-width: 2px;
  border-color: "#8a8a8f";
  border-radius: 4px;
  height: 32px;
}

.ui.secondary.menu a.item.logo:hover {
  background: none;
}
